.header-missions,
.mission-container {
  display: flex;
  margin-bottom: 50px;
}

.header-missions {
  margin: 20px 0;
}

.mission-name,
.mission-name-header {
  width: 100px;
  margin-right: 50px;
}

.mission-description,
.mission-description-header {
  width: 50%;
  margin-right: 50px;
}

.active-mb {
  background-color: turquoise;
  align-self: center;
}

.leave-mission-bt {
  color: red;
}

.mission,
.active-mb,
.no-active-mb {
  text-align: center;
  align-self: center;
  padding: 20px;
  width: 10%;
}

.mission * {
  padding: 20px;
}

.leave-mission-bt,
.join-mission-bt {
  cursor: pointer;
}
