.profile-section {
  margin: 1rem auto;
  padding-top: 0.6rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.rockets-profile-container {
  width: 48%;
}

.reserv-rockets-list {
  border: 1px solid #878d94;
  border-radius: 0.25rem;
}

.reserved-rocket-item {
  border-bottom: 1px solid #878d94;
  padding: 0.9rem;
}

.name {
  color: #5d5f61;
}

.reserved-rocket-item:last-child {
  border-bottom: none;
}

.no-reserved-rocket {
  padding: 0.5rem;
  font-weight: bold;
  margin: 0 auto;
  color: #5d5f61;
}
