.rockets {
  margin-top: 2rem;
}

.rocket-list,
.rocket-item {
  padding-bottom: 1.4rem;
}

.rocket-container {
  justify-content: start;
}

.rocket-image img {
  height: 200px;
  width: 240px;
}

.rocket-info {
  padding-left: 1.6rem;
}

.description {
  display: block;
  padding: 1.1rem 0;
  font-size: 1.2rem;
}

.reserved {
  background-color: #19a3b9;
  color: #fff;
  border-radius: 4px;
  padding: 0.1em 0.3em;
  margin-right: 5px;
}

.reserve-btn {
  color: #fff;
  background-color: #1278f8;
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  font-size: 1rem;
}

.cancel-btn {
  background-color: transparent;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  border-radius: 0.2rem;
  color: #878d94;
  box-shadow: 1px 2px 2px #878d94, -0.5px -1px 1px #878d94;
}

@media screen and (max-width: 842px) {
  .rockets,
  .rockets-list,
  .rocket-item {
    margin-bottom: 1.3rem;
  }

  .rocket-container {
    display: flex;
    flex-direction: column;
  }

  .rocket-image img {
    height: 200px;
    width: 270px;
  }

  .rocket-info {
    padding: 0 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .description {
    text-align: justify;
  }
}
